:root {
    --background: #0a0a0a;
    --foreground: #f2f0e9;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    background-color: var(--background);
    color: var(--foreground);
}

a {
    color: inherit;
    text-decoration: none;
}